.container {
	display: block;
	width: 440px;
	perspective: 3200px;
}

.ticket {
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.5s ease-out;
}

.container:hover .ticket {
	transform: rotateY(180deg);
}

.data {
	backface-visibility: hidden;
	transform: rotateY(0deg);
}

.image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	background-color: #fff;
	backface-visibility: hidden;
	transform: rotateY(180deg);

	// Prevent the image from being re-requested during rotation by keeping it in a composited layer
	will-change: transform;
}
