:root {
	--max-width: 960px;
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

	--color-background: #0f1a24;
	--color-well: #596770;
	--color-text: #828e91;

	--color-accent-primary: #f5cc45;
	--color-accent-secondary: #8b45f5;
	--color-accent-secondary-dark: #6130ab;
	--color-accent-tertiary: #b6f545;
	--color-accent-tertiary-dark: #7fab30;

	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	min-height: 100vh;
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	color-scheme: dark;

	max-width: var(--max-width);
	margin-inline: auto;
}

a {
	color: inherit;
	text-decoration: none;
}
