.container {
	display: block;
	width: 440px;
	padding: 2rem 2rem 1rem;
	border: 1px dotted currentColor;
}

.top {
	display: flex;
	column-gap: 1rem;
}

.topCode {
	flex-shrink: 0;
	width: 150px;
	text-align: center;
}

.topLeft {
	flex-grow: 1;
}

.title {
	margin-bottom: 0.5rem;
}

.auditorium {
	font-weight: 700;
}

.section {
	font-style: italic;
}

.type {
	font-weight: 700;
	font-style: italic;
}

.id {
	font-size: 0.75rem;
}

.name {
	font-size: 1.25rem;
	font-weight: 700;
}

.rating {
	font-size: 0.75rem;
	font-style: italic;
}

.visit {
	width: 100%;
	margin-block: 1rem;
	border-spacing: 0;
	text-align: center;

	th, td {
		width: 25%;
		padding: 0.5rem;
		border-bottom: 1px solid currentColor
	}

	th {
		font-size: 0.5rem;
	}

	td {
		font-size: 1.25rem;
		font-weight: 700;
	}
}
