@use 'sass:math';

.container {
	display: block;
	width: 440px;
}

.content {
	padding: 2rem 2rem 1rem;

	// Using light colors for the ticket so we can use default QR colors. Might change later.
	background-color: #fff;
	color: #000;
}

.top {
	display: flex;
	column-gap: 1rem;
}

.topCode {
	flex-shrink: 0;
	width: 150px;
	text-align: center;
}

.topLeft {
	flex-grow: 1;
	margin-bottom: 0.5rem;
}

.title {
	margin-bottom: 0.5rem;
}

.auditorium {
	font-weight: 700;
}

.section {
	font-style: italic;
}

.type {
	font-weight: 700;
	font-style: italic;
}

.id {
	font-size: 0.75rem;
}

.name {
	font-size: 1.25rem;
	font-weight: 700;
}

.rating {
	font-size: 0.75rem;
	font-style: italic;
}

.visit {
	width: 100%;
	margin-block: 1rem;
	border-spacing: 0;
	text-align: center;

	th,
	td {
		width: 25%;
		padding: 0.5rem;
		border-bottom: 1px solid currentColor;
	}

	th {
		font-size: 0.5rem;
	}

	td {
		font-size: 1.25rem;
		font-weight: 700;
	}
}

.detail {
	font-size: 0.75rem;
	line-height: math.div(4, 3);
	text-align: center;
	white-space: pre-line;
}

.footer {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	font-size: 0.75rem;
	text-align: center;
}
