.container {
    display: flex;
    align-items: center;
    margin-block: 2rem;
    gap: 2rem;
}

.logo {
    width: 8rem;
    height: 8rem;
    border-radius: 0.5rem;
}

.title {
    color: #fff;
    font-size: 3rem;
}
